/* Layout */
.toolbar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  margin-top: 1px;
  border-bottom: 2px solid black;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 20vw;
  height: 60px;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
background: radial-gradient(circle, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, .5) 40%, rgb(255, 255, 255, .3) 40% , rgb(255, 255, 255, 0.1) 60%, rgb(255, 255, 255, 0)80%);
}

.logo-text {
  font-family: var(--font-family-spartan-light);
  font-size: 1.8em;
  color: var(--primary-color);
  letter-spacing: 4px;
  padding-top: 5px;
}

.column-separator {
  width: 1px;
  background-color: #000;
}

.toolbar form{
  width: 80vw;
  margin-left: 10px;
}




.buttons-container {
  font-family: var(--font-family-noto-sans-sc);
  display: flex;
  gap: 20px;
  background: linear-gradient(43deg, rgba(13, 110, 253, 0.2) 0%, rgba(19, 109, 244,0.2) 28%, rgba(63, 132, 236, 0.09) 65%, rgba(55, 113, 209, 0.09) 71%, rgba(16, 14, 69, 0.09) 100%);
  width: 100%;
  height: 60px;
  justify-content: space-evenly;
}

.butao {
  background: transparent;
  width: 200px;
  text-shadow: .5px 0 #020202, -.5px 0 #000000, 0 .5px #000000, 0 -.5px #000000,
    .5px .5px #000000, -.5px -.5px #000000, .5px -.5px #000000, -.5px .5px #000000;
  font-size: 1.2em;
}

.butao:hover {
  background: radial-gradient(ellipse, rgba(255,255,255,1) 0%, rgba(198,221,255,0) 30%);

}
