{% macro button(label, icon, value, extra_class) %}
  <button class="{{ extra_class }} butao" name="button" value="{{ value }}"><i class="bi bi-{{ icon }}"></i>{{ label }}</button>
{% endmacro %}

{% macro show_publicacoes(publicacoes) %}
<table id="result-table" class="result-table">
    <tr>
      <tr>
        <th>*</th>
        <th>Data Diário</th>
        <th>Estado</th>
        <th>Nome</th>
        <th>nº Processo</th>
        <th>CPF</th>
        {% if publicacoes[0].uf == 'BA' %}
          <th>Matrícula</th>
          <th>Valor</th>
        {% elif publicacoes[0].uf == 'MT' %}
          <th>Cargo</th>
          <th>Tempo de Serviço</th>
        {% endif %}
        
      </tr>
    </tr>
    {% for publicacao in publicacoes %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ publicacao.data_diario or "" }}</td>
        <td>{{ publicacao.uf or "" }}</td>
        <td>{{ publicacao.nome or "" }}</td>
        <td>{{ publicacao.processo or "" }}</td>
        <td>{{ publicacao.cpf or "" }}</td>
          {% if publicacao.uf == 'BA' %}
            <td>{{ publicacao.matricula or "" }}</td>
            <td>R$ {{ publicacao.valor or "" }}</td>
          {% elif publicacao.uf == 'MT' %}
            <td>{{ publicacao.cargo or "" }}</td>
            <td>{{ publicacao.tempo_servico or "" }} Anos</td>
          {% endif %}
      </tr>
    {% endfor %}
  </table>

  <div class="export-btn-container">
    <button id="export-btn" onclick="exportToXlsx()">Exportar para Excel</button>
  </div>
  
{% endmacro %}



{% macro display_pdf_results(results) %}
<table id="upload-result-table" class="upload-result-table">
  {% for result in results %}
    <tr>
      <td>{{ result.filename }}:</td>
      <td class="status-column">
        {% if result.valido %}
          <span style="color: green;">Processando</span>
        {% else %}
          <span style="color: red;">Arquivo inválido (removido)</span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endmacro %}